/* 
    define webfont for 
    /fonts/YekanBakhFaNum-Bold.woff2
    /fonts/YekanBakhFaNum-ExtraBlack.woff2
    /fonts/YekanBakhFaNum-Regular.woff2
*/

@font-face {
    font-family: 'YekanBakhFaNum';
    src: url('/fonts/YekanBakhFaNum-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YekanBakhFaNum';
    src: url('/fonts/YekanBakhFaNum-ExtraBlack.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YekanBakhFaNum';
    src: url('/fonts/YekanBakhFaNum-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'YekanBakhFaNum', sans-serif;
}

/* 
    import material-icons
*/

@import 'material-icons/iconfont/round.css';